{{#link-to 'songs' }}<a href="">Back to Song List</a>{{/link-to}}
<hr />
<h5>{{model.title}}</h5>
{{{model.lyrics}}}<br />
<hr />
{{#link-to 'songs' }}<a href="">Back to Song List</a>{{/link-to}}
<hr />
