
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4">
    <img src="favicon.png" class="img-responsive" alt="favicon">
  </div>
  <div class="col-md-8">
    <h2 id="title">About Caroling Companion</h2>
    <div>
      "The best way to spread Christmas cheer is to sing loudly for all to hear!"
      <br>- Buddy the Elf
    </div>
    <div>
      <br>Caroling companion was created to spread joy to the world one song at a time.

      <br>- Chase McElroy
      <br>
      <br>
      <a href="https://appsto.re/us/k25W_.i" target="_blank"><img src="appstore.png" alt="Download on the App Store"  style="width:149px;height:50px;"></a>
      <br />
    </div>
  </div>
</div>


{{outlet}}
