<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          {{#link-to 'songs' type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"}}
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          {{/link-to}}
          {{#link-to 'index' class="navbar-brand"}}Caroling Companion{{/link-to}}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
            <li>{{#link-to 'songs'}}Songs{{/link-to}}</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container theme-showcase" role="main">
{{outlet}}
<br />
<hr />
<footer>
    <a target="_blank" href="http://chase.bio/">&copy; 2016 Chase McElroy</a> |
    {{#link-to 'about' align="right"}}About{{/link-to}}

</footer>
</div>
