<div class="jumbotron">
  <h1>Welcome to Caroling Compnaion</h1>
  <p>The best place to find songs to spread Christmas cheer!</p>
  {{#link-to 'songs' class="btn btn-primary btn-lg"}}Start Singing{{/link-to}}
</div>
