 {{outlet}}

{{#each model as |song|}}
  {{#link-to "songs.song" song}}
  <h5>{{song.title}}</h5>
  {{/link-to}}
{{/each}}

<!-- <h1>Songs</h1>

<table class="table table-bordered table-striped">
    <thead>
      <tr>

          <th>Title</th>
          <th>Lyrics</th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |song|}}
        <tr>

            <td>{{song.title}}</td>
            <td>{{{song.lyrics}}}</td>
        </tr>
    {{/each}}

    </tbody>
</table> -->
